@font-face {
    font-family: 'Tajawal';
    src: url(fonts/Tajawal-Regular.ttf);
    weight: 400;
}

@font-face {
    font-family: 'Tajawal';
    src: url(fonts/Tajawal-Bold.ttf);
    weight: 700;
}

:root {
    /*====Body====*/
    --body-background-color: #00a078;

    /*====Buttons and links====*/
    --button-color: #ffffff;
    --button-hover-color: #005772;
    --button-text-color: #000000;

    /*====Carts====*/
    --cart-border-color: #ffffff;
    --cart-background-color: linear-gradient(to top right, rgba(255, 255, 255, 0.313), rgba(255, 255, 255, 0.497));
    --cart-text-color: #ffffff;

    /*====Titles====*/
    --title-color: #000000;
    --title-background: linear-gradient(to top left, #ffffff2a, #ffffffab);
    --title-border-color: #ffffff;
}

body, html {
    background-color: var(--body-background-color);
    color: #000000;
    font-family: 'Tajawal', sans-serif;
    text-align: center;
    min-height: 100vh;
}

h1 {
    border: 2px solid var(--title-border-color);
    background: var(--title-background);
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

.btn-link {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    transition: .4s ease-in;
}

.btn-link:hover {
    background-color: var(--button-hover-color);
}

.card {
    border: 3px solid var(--cart-border-color);
    background: var(--cart-background-color);
    color: var(--cart-text-color);
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    text-align: right;
    margin: 30px auto;
    transition: .4s ease-in;
    box-shadow: 4px 4px 4px rgb(255, 255, 255);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 8px 8px 8px rgb(255, 255, 255);
}
hr {
    background-color: #000000;
    border: none;
    height: 2px;
    width: 100px;
}

p {
    color: #ffffff;
}