body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, rgb(0, 255, 234), rgb(0, 255, 68));
    color: blue;
    text-align: center;
}

.panels {
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 12px;
    padding: 20px;

}

.ln {
    background: linear-gradient(to top right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.08));
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 20px;

    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.637);
}

ln:hover {
    transform: translate(4px 4px);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.637);
}

.ph1 {
    background-color: cyan;

    border: 3px solid rgb(255, 255, 255);
    border-radius: 12px;
    padding: 20px;
    display: inline-block;

}

.cart {
    background: linear-gradient(to top right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.08));
    border: 3px solid rgba(255, 255, 255, 0.555);
    border-radius: 12px;
    padding: 20px;
    display: inline-block;
    color: gray;

    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.637);
}

.cart:hover {
    transform: translate(4px, 4px);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.637);
}